.vscode/

venv
.venv
__pycache__

# .config/*
!.config/*.example
.vscode

submissions/
submissions.bk/
.DS_Store

sandbox-testdata/

*.log

sandbox
.pytest_cache/
TODO.md
Spec.md
note.md
changelog.md
version.md
